
@use  '../../../sass/' as *;


.main_manager{

    padding-top: $header-height;

    .frame_manager{


        padding-top: 6rem;

        padding-bottom: 3rem;
        


        .frame_img_manager{


         width: 80%;
        height: 60%;
        margin: auto;

        margin-top: 2rem;
      

        @include mobile{
        margin-bottom: 4rem;
        width: 100%;
        height: 90%;
       


        }

       

        img{
            width: 100%;
            height: 100%;
            
        }
        }
    }
}