

@use  '../../sass/' as *;


.select_location{

    width: 100%;

    margin-top: 2rem;

    p{
        font-weight: 600;
        padding-left: 10px;

    }
   
    select{
        width: 100%;
        height: 3rem;
        border-color: #B0D9FF;
        background-color: #F5F5F5;
        font-weight: 600;
        
        
        
    }
}