
@use  '../../sass/' as *;


.main_slide{
    width: 70%;
    margin: auto;
 

    margin-top: 5rem;

    @include mobile{
        width: 97%;
        margin-top: 1.5rem;
    }

    h1{
        @include flex(center,center);
        color: $button-header;

        padding-bottom: 3rem;

        @include mobile{
            padding-bottom: 1.5rem;
            padding-top: 2.5rem;
        }

       
    }
}

.swiper-button-next {
    background-image: url("../../assets/svg/previous-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: none;
  }
  .swiper-button-prev {
    background-image: url("../../assets/svg/back-arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: none;
  }
  
  .swiper {
    height: auto;
    margin: auto;
    z-index: 0;

 justify-items: center;
    
    // background-color: aqua;
    &:hover{
      .swiper-button-prev,.swiper-button-next{
          display: block;
      }
  
    }
  }
  
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-slide{
      
      width: 100%;
      margin: auto;
      justify-items: center;
   

      @include mobile{
          width: 100%;
      }
  }

.frame_slide{

    width: 100%;
    height: 100% ;



    @include mobile{
        width: 100%;
        height: 100% ;

    }



    img{

        width: 100%;
        height: 100%;
    

      
    }

}
 