
@use  '../../../sass/' as *;


.main_version {

    padding-top: $header-height;

    .frame_vision{


        padding-top: 6rem;

        padding-bottom: 3rem;
        


        .frame_img_vision{


         width: 80%;
        height: 60%;
        margin: auto;
      

        @include mobile{
        margin-bottom: 4rem;
        width: 100%;
        height: 90%;
       


        }

       

        img{
            width: 100%;
            height: 100%;
            
        }
        }
    }
}