
@use  '../../sass/' as *;



.main_header{
    height: $header-height;
    // background-color: white;
    box-shadow: $box-shadow;
    width: 100% ;
    position: fixed;
    z-index: 97;
    backdrop-filter: blur(10px);
    //  background: rgba(182, 179, 179, 0.5);

     background: rgba(255,255,255,0.5);

    
    
   
    
     @include tablet{
        padding-left: 0px;
        padding-right: 0px;

    }
    @include mobile{
        padding-left: 0px;
        padding-right: 0px;
        
    }

    
    display: flex;
    @include flex(center,unset);


    &__drawer_moblie{
        i{
            font-size: 3rem;
            display: none;

            @include tablet{
                display: block;
                padding-left: 1rem;
            }
            @include mobile{
                display: block;
                padding-left: 1rem;
            }
        }
    }

    &__main_drawer{
        display: none;

        position: fixed;
        left: -300px;
        top:0;
        width: 300px;
        height: 100vh;
        padding: 20px;
        z-index: 99;
        background-color:white;
        box-shadow: var(--box-shadow);
        transition:  right 0.5s var(--transition-cubic);

        .button_close{

            margin-left: 90%;
            
            button{
                background-color: unset;
                outline:0;
                i{
                    font-size: 4rem;
                    
                }
            }
        }
        .content_moblie{

            .frame_button_moblie{

                margin-top: 2rem;
                width: 150px !important;
                height: 4rem !important;
              
         
               
                width: 2rem;
                button{
                    background-color: $button-header;
                    color: white;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px !important; 
                    font-size: 15px;
                }
            }

         

            .frame_title_moblie{
                @include flex(center,unset);

                height: 5em;
                border-bottom: 0.2px solid #F5F5F5;
                p{
                    font-size: large;
                    color: $color-main-text-header;
                }
            }
        }



        @include tablet {
            display: block;
        }
        @include mobile{
            display: block;
        }
        
    }

    &__main_drawer.active_drawer{
        left: 0;
    }

    &__content{

    display: flex;
    // @include flex(center,unset);
    @include flex(center,center);
    margin: auto;
    height: 100%;

    @include tablet {
        margin: auto;
    }

    @include mobile{
        
         margin: auto;
    
      
        
    }
        .logo{
           height:100%;
        //    width: 100%;
            // height: 0rem;
            position: relative;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            
            // margin-top: -2rem;
            @include tablet{
                margin-left: -3rem;
            }
            @include mobile{
                margin-left: -3rem;
            }

            margin-top: 0rem;
           
          
            
            

            img{
                width: 100%;
                height: 100%;
                // background-size: cover;
               
            }
        }
        .topic{
            display: flex;
            @include flex(center,center);
            padding-left: 9rem;

            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }


            li{
                margin-left: 4rem;
                color: $color-seocond-text-header;
                font-weight: 600;
                position: relative;
                font-size: 15px;
                cursor: pointer;

                &::after {
                    content: "";
        
                    width: 0;
                
                    height: 2px;
                    transition: width 0.5s ease;
                    background-color: $color-main-text-header;
                    transform: translate(-50%);
                    // make position absoluted and follow tittle
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                  }
                  // set active render and hover
                  &.active::after,
                  &:hover::after {
                    width: 100%;
                    color: $color-main-text-header;
                  }


            }

            li.active{
                color: $color-main-text-header;
            }
        }
        .button_header{
            margin-left:  10rem;
            width: 8rem;
            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }

            button{
                width: 100%;
                height: 2.2rem;
                border-radius: 10px;
                background-color: $button-header;
                color: $white;
                font-weight: 600;
                font-size: 15px;

            }
        }

    }
   

}